**.mod
**.concrete.sdfgz
**.pyc
**.DS_Store
**.vscode
**.idea
**.dacecache
**.dSYM
**.a
**.o
**.so

codegen/**
!codegen/*.sdfgz
!codegen/stage*
!codegen/stage*/solve_nh_parts.*
!codegen/stage*/solve_nh*/
!codegen/stage*/solve_nh*/include
!codegen/stage*/solve_nh*/src
!codegen/stage*/solve_nh*/src/cpu
!codegen/stage*/solve_nh*/include/solve_nh*.h
!codegen/stage*/solve_nh*/src/cpu/solve_nh*.cpp
!codegen/stage*/solve_nh*/dace.conf

gotwant
verify_solve_nh_parts
velocity_workspace
